{% extends 'layouts/base.html'%}

{% block title %} Confirm Password Reset - {{block.super}} {% endblock %}

{% block content %}
	{% if validlink %}
		<h1> Confirm Password Reset </h1>
		<p> Please enter your new password twice so we can verify you typed it correctly. </p>
		<form role="form" action="" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Change Password"/>
		</form>
	{% else %}
		<p>Password reset unsuccessful</p>
		<p>The password link was invalid, possibly because it has already been used. Please request a new link. </p>
	{%endif%}
{% endblock %}